
<nav class="navbar navbar-light">
  <div class="container display">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/">KISS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://ecwp.thalesdigital.io/">Stack</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Templates</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register"
           routerLinkActive="active">Create account</a>
      </li>
    </ul>
  </div>
    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true" class="nav navbar-nav float-right" style="display: inline-block;">
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/editor"
          routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/settings"
          routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

    </ul>

</nav>
