<div class="row article-meta">
  <div class="article-content">
    <div class="info">
    </div>
    <h2>A modern, performant stack, for free</h2>
    <p>Develop on a stack designed for collaboration and performance. Start your project faster using our DevSecOps templates
      And all of that is free
    </p>
    <div class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Start now
      </a>
    </div>
  </div>
  <div class="article-image">
    <img src="/assets/img/thales-img.jpg" width="200px"/>
  </div>
</div>

<div class="row article-meta">
  <div class="article-image">
    <img src="assets/img/thales-img.jpg" width="200px"/>
  </div>
  <div class=" article-content">
    <div class="info">
    </div>
    <h3>We are a world wide community</h3>
    <p>Join an actuve and growing community of 1876 members.
     Find project you can reusethrough 2571 Inner Source projects
    </p>
    <div class="nav-item">
      <a class="nav-link" href="/">
        Join us
      </a>
    </div>
  </div>
</div>

<!--
<div class="row article-meta">
  <div class="article-image">
    <img src="assets/img/thales-img.jpg" width="200px"/>
  </div>
  <div class="article-content">
    <div class="info">
    </div>
    <h2></h2>
    <p></p>
  </div>
</div>-->


<app-article-preview
  *ngFor="let article of results"
  [article]="article">
</app-article-preview>

<div class="app-article-preview"
  [hidden]="!loading">
  Loading articles...
  <ngx-spinner bdColor = "rgba(8,10,10,0.7)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple"
               [fullScreen] = "true">
    <p style="color: white">Loading... </p>
  </ngx-spinner>
</div>

<div class="app-article-preview"
  [hidden]="loading || results.length">
  No articles are here... yet.
</div>

<!--
pagination
<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">
    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">
      <a class="page-link" >{{ pageNumber }}</a>
    </li>
  </ul>
</nav>-->
