/* You can add global styles to this file, and also import other style files */

.nav-item {
  display: inline-block;
}
.navbar-nav {
  display: inline-block;
}
.nav-item:hover{
 color: #5DBFD4!important;
}
.the-why{
  text-shadow: 2px 2px 5px #000000;
}
body {
  font-size: 0.8rem;
  background: rgba(4, 13, 105, .0);
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
img{
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
.tag-default {
  color: #fff !important;
  background-color: #b3bec8;
  font-size: .8rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: .2rem;
  display: inline-block;
}
.tag-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 4rem;
}

.navbar-nav .nav-link {
  padding-top: .455rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff !important;
}
.navbar {
  background: #0c0d29;
  text-transform: uppercase;
  position: relative;
  padding: .5rem 1rem;
  color: white;
}
.navbar-brand {
  font-family: titillium web, sans-serif;
  font-size: 1.2rem !important;
  padding-top: 0 !important;
  margin-right: 2rem !important;
  color: #57d1ec !important;
}
.home-page .banner {
  background: rgba(0, 0, 0, .9);
  background-image: url(./assets/img/thales-img.jpg);
  background-repeat: no-repeat;
  width: 100%;
}
.sidebar {color: white}
.banner {
  color: #fff;
  background: #333;
  padding: 2rem;
  margin-bottom: 2rem;
}
.banner > .container{
 min-height: 150px;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #5DBFD4 !important;
}
footer  {
  margin: 1.3rem;
  height: 5rem;
}
