
<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <p class="the-why"> <i>KISS Inner Source Software</i> - a place to share knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-12">
        <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
      </div>
<!--

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="tag-list">
            <a *ngFor="let tag of tags"
               (click)="setListTo('all', {tag: tag})"
               class="tag-default tag-pill">
               {{ tag }}
            </a>
          </div>
          <div [hidden]="tagsLoaded">
            Loading tags...
          </div>

          <div [hidden]="!tagsLoaded || tags.length > 0">
            No tags are here... yet.
          </div>
        </div>
      </div>
-->

    </div>
  </div>
</div>
